.card {
  overflow: hidden;
  border-radius: .5rem;
  user-select: none;
  position: relative;

  &-title {
    font-size: 1.2rem;
  }

  &-img-top:hover {
    transform: scale(101%);
    transition: all .4s ease-in-out;
  }

}
