.section-title {
  margin: 2.5rem 0 1.5rem;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2dd280;
    bottom: -6px;
    left: 0;
  }

  &::after {
    left: 10px;
    bottom: -6px;
    transform: scale(.7);
  }
}

.card {
  overflow: hidden;
  border-radius: .5rem;
  user-select: none;

  &-title {
    font-size: 1.2rem;
  }

  &-img-top:hover {
    transform: scale(101%);
    transition: all .4s ease-in-out;
  }

  &-artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;

    & a {
      text-decoration: none;
      transition: all .3s ease-in-out;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
        color: #2ebd75;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}

.badge {
  font-weight: normal;
  margin: .2rem 0;

  &.bg-success {
    background-color: rgba(94, 216, 97, .3) !important;
    color: #2ebd75;
  }

  &.bg-warning {
    background-color: rgb(255, 194, 43, .9) !important;
    color: rgba(0, 0, 0, .7);
  }

}
